wsdl_example.xml

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://example.com/weather">
   <wsdl:types>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/weather">
         <xsd:element name="GetTemperature">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="city" type="xsd:string"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="GetTemperatureResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="temperature" type="xsd:float"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="GetTemperatureRequest">
      <wsdl:part name="parameters" element="tns:GetTemperature"/>
   </wsdl:message>
   <wsdl:message name="GetTemperatureResponse">
      <wsdl:part name="parameters" element="tns:GetTemperatureResponse"/>
   </wsdl:message>
   <wsdl:portType name="WeatherServicePortType">
      <wsdl:operation name="GetTemperature">
         <wsdl:input message="tns:GetTemperatureRequest"/>
         <wsdl:output message="tns:GetTemperatureResponse"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="WeatherServiceBinding" type="tns:WeatherServicePortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="GetTemperature">
         <soap:operation soapAction="http://example.com/weather/GetTemperature"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="WeatherService">
      <wsdl:port name="WeatherPort" binding="tns:WeatherServiceBinding">
         <soap:address location="http://example.com/weather/service"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>
